<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825629569582-vmjj0oc8j2ndd5ddj2jokdr3s4q9g49c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825629569582-vmjj0oc8j2ndd5ddj2jokdr3s4q9g49c</string>
	<key>API_KEY</key>
	<string>AIzaSyDzBy37Xp2_udzDrnMYdqMxn0IFiZtyEzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>825629569582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinsolutions.smarttheorytest</string>
	<key>PROJECT_ID</key>
	<string>smart-theory-test</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-theory-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825629569582:ios:aa2dece8930b72964c65bf</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>